.center {
  text-align: center;
}

body {
  background-image: url('../img/nyancat1.jpg');
  background-position: center;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: inline;
  width: 200px;
  height: auto;
  padding: 10px;
  object-position: center;
}

#headers {
  background-color: rgba(0,51,102,.8);
  color: #fff;
  margin-top: 20px;
}

#input-parent {
  position: relative;
}
#input-field {
  border-radius: 90px;
  font-size: 50px;
  padding: 40px 0px 40px 0px;
  width: 150px;
  margin: 30px;
}

#input-go {
  border-radius: 90px;
  color: #fff;
  background-color: rgb(87,193,112);
  font-size: 13px;
  font-weight: bold;
  padding: 22px 20px 22px 20px;
  position: absolute;
  top: 63%;
  left: 53%;
}

#btn-reset {
  color: #fff;
  font-size: 20px;
  background-color: rgb(245,172,87);
  padding: 10px 20px 10px 20px;
  border-radius: 7px;
}

#btn-hint {
  color: #fff;
  font-size: 20px;
  background-color: rgb(75,191,220);
  padding: 10px 20px 10px 20px;
  border-radius: 7px;
}

.guesses {
  display: inline;
  border: 7px;
  font-size: 20px;
  margin: 5px;
  padding: 7px;
}

.guess {
  display: inline;
  border: 2px solid rgb(121,188,255);
  border-radius: 10px;
  font-size: 80px;
  margin: 1px;
  padding: 5px 40px 5px 40px;
  background-color: rgba(0,51,102,.8);
  color: #fff;
}

#footer {
  width: 100%;
  border-top: solid 2px black;
  background-color: white;
  position: fixed;
  bottom: 0;
}
